.navbar{
   display: flex;
   position: sticky;
   justify-content: space-between;
   align-items: center; 
   color: white;
   /* padding: 1.5rem 3rem; */
   background-color: transparent; 
   top: 0;
   left: 0;  
   padding: 0; 
   width: 100%;
} 
 .logo{
    font-size: 20px; 
    padding-left: 20px;
 } 
 .links{
    color: white; 
    justify-content: flex-end;
    align-items: center;
    display: flex; 
    gap: 1rem;  
    padding-right: 10px;
    
 } 
 .link{
    color: rgb(250, 240, 240);
    font-weight: 600;
    font-size: 1.2rem; 
    text-decoration: none;

 }
 .link:hover{
    color: rgb(255, 255, 255);
    transition: all 0.3s; 
    text-decoration: none;
 } 

 /* about the drawer page  */
 .mobiledrawer{
display: none;
 }

 @media  only screen and (max-width:800px){
    .links{
        display: none;
    }
    .mobiledrawer{
      display: block;
       } 
    .drawerdiv{
      width: 40vw;
      background-color: #361919;
      height: 100vh;
      color: white;
      padding: 1rem;
    }
    
 }




