@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Poppins:wght@500;700&display=swap');

body{
    background-color: #472121; 
    color: white; 
    margin: 0;
    
} 
/* custom selection for selection of text */
::selection{
    background-color: rgb(239, 239, 246);
    color: rgb(246, 223, 223); 
} 
 ::selection::hover{
color: aliceblue;
 }
::-webkit-scrollbar{
    width: 0.2rem;
}
::-webkit-scrollbar-track{
    background-color:rgb(249, 243, 243);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(235, 31%, 86%);
}




