body{
    background-color: #fff;
} 
img{   /* image cannot drag  and copy */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} 
html{
    scroll-behavior: smooth;
} 
/*  this is all about the coinpage converobject page  */
.greywrapper{ 
    display: block;
   background-color: grey;
   margin: 1.5rem auto;
   border-radius: 0.4rem;
padding: 0rem 1.9rem;
} 
.greywrapper,h2,p{
   margin: 1rem ,0rem !important;
   color: white;

}
